.header__menu-hamburguer {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../../img/Menu-1.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--white);
  position: relative;
}
.container {
  display: flex;
  align-items: center;
}

.container__image {
  padding: 1em;
}

.container__button {
  display: none;
}

.list-menu {
  display: none;
  position: absolute;
  top: 100%;
  width: 60vw;
}
.container__button:checked ~ .list-menu {
  display: block;
}
.list-menu__title,
.list-menu__item {
  padding: 1em;
  background-color: var(--white);
}
.list-menu__title {
  color: var(--orange);
  font-weight: 700;
}
.list-menu__link {
  background: var(--blue-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
}
